<link rel="stylesheet" href="/form-style.css">

<a href="/" class="back-button">< Back</a>

<div class="details-container">
    <h3>Message Details</h3>

    <div class="username">
        <h4>Username: </h4>
        <p><%= message.user%></p>
    </div>

    <h4>Message: </h4>
    <p><%= message.text%></p>

    <div class="date-added">
        <h4>Date Posted: </h4>
        <p><%= message.added%></p>
    </div>

</div>