<form method="POST" action="/new">
        <label for="message">Enter your Message Below:</label>
        <input id="message" type="text" name="message">

        <label for="user">Enter your name:</label>
        <input type="text" id="user" name="user">
    <button type="submit">Post</button>
</form>