<link rel="stylesheet" href="/form-style.css">
<form method="POST" action="/new">

    <div class="message">
        <label for="message">Enter your Message Below:</label>
        <textarea id="message"  name="message" required></textarea>
    </div>

    <div class="user">
        <label for="user">Enter your name:</label>
        <textarea id="user" name="user" required></textarea>
    </div>
    <button type="submit">Post</button>
</form>