<link rel="stylesheet" href="/form-style.css">
<form method="POST" action="/new">

    <div class="message">
        <label for="message">Enter your Message Below:</label>
        <input id="message" type="text" name="message">
    </div>

    <div class="user">
        <label for="user">Enter your name:</label>
        <input type="text" id="user" name="user">
    </div>
    <button type="submit">Post</button>
</form>