<html lang="en">
<body>
<h1><%= title%></h1>
    <% for(let i = 0; i < messages.length; i++) {%>
      <div class="">
        <h4><%= messages[i].user%></h4>
          <br>
          <p><%= messages[i].text%></p>
          <br>
          <p><%= messages[i].added%></p>
      </div>
    <%}%>
</body>
</html>