@font-face {
    font-family: 'Montserrat Bold';
    src: url('./static/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url('./static/Montserrat-Regular.ttf');
}

* {
    font-family: 'Montserrat Regular', serif;
}
.navbar {
    text-align: center;
    background-color: #ffffff;
    width: 80%;
    border: 1px black solid;
    border-radius: 6rem;
    margin-top: 0.5rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: oklch(67% 0.134 242.749);
    }

.body-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
}

.new-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    text-decoration: none;
    border-radius: 100%;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: oklch(30% 0.066 243.157);
    transition: all 0.5s;
}

.new-btn:hover {
    height: 4.5rem;
    width: 4.5rem;
    font-size: 3.5rem;
    transition: height 0.3s ease-in-out, width 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.message-board {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.messages {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    border: 1px black solid;
    border-radius: 1rem;
    width: 35%;
    height: auto;
    padding: 1rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    transition: width 0.5s , height 0.5s , transform 0.5s ;
}

.messages:hover {
    width: 37%;
    height: auto;
    transition: width 0.5s , height 0.5s , transform 0.5s ;
}